.markdown {

  ::selection {
    @apply bg-yellow-markdown-highlight text-black;
  }

  @apply text-gray-700;

  h1, h2, h3, h4, h5, h6 {
    @apply text-black font-semibold leading-tight;
  }

  h1 {
    @apply text-4xl pb-6;
  }

  h2 { @apply text-2xl; }
  h3 { @apply text-base; }
  h4 { @apply text-sm; }

  h2, h3, h4, h5, h6 {
    @apply py-6 inline-flex items-center relative;

    > a {
      @apply hidden text-gray-700 h-full absolute inset-x-0 -ml-8;

      .anchor-icon {
        background: url('/images/anchor.svg');
        @apply h-full w-4 block opacity-50 bg-no-repeat bg-contain bg-center pointer-events-none;
      }
    }

    &:hover a {
      @apply inline-flex;
    }
  }

  a {
    @apply text-ocean no-underline;

    &:hover {
      @apply text-ocean-darker;
    }
  }

  p {
    @apply mb-4;
    line-height: 1.8;
  }

  ul, ol {
    @apply mb-4 pl-8;

    li {
      @apply mb-2;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  abbr[title] {
    @apply border-b border-dotted cursor-help no-underline;
  }

  pre {
    cursor: text;
    @apply bg-gradient-l-code overflow-auto scrolling-touch break-normal p-4 mb-4 -ml-20 pl-20 border border-l-0 border-gradient-l-grey-code;
  }

  code {
    @apply text-sm leading-code font-mono;

    &.shiki {
      @apply bg-gradient-l-code text-gray-700 !important;
      @apply block overflow-auto scrolling-touch break-normal p-4 mb-4 -ml-20 pl-20 border border-l-0 border-gradient-l-grey-code;
    }
  }

  kbd {
    @apply inline-block font-mono bg-gray-300 border border-gray text-gray-700 text-xxs;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(135,149,161,0.4), 0 0 0 2px #fff inset;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .15em .6em;
    text-shadow: 0 1px 0 #fff;
  }

  mark {
    @apply bg-yellow-200 px-2;
  }

  blockquote {
    @apply border-l-4 border-gray-300 p-4 mb-4 mx-4 italic;

    p {
      @apply mb-0;
    }
  }

  table {
    @apply block border text-sm mb-4 w-full overflow-x-auto scrolling-touch;

    thead {
      @apply bg-gray-200;
    }

    th, td {
      @apply p-4 min-w-24;
    }

    th {
      @apply  font-semibold text-left;
    }
  }
}

.shiki-inline {
  @apply bg-gray-100 text-gray-700 text-xs leading-normal !important;
  @apply border border-gray-200 rounded px-2 py-1;
}

a .shiki-inline {
  color: inherit !important;
}

.label {
  @apply align-text-top inline-block pt-px px-1 mt-1 text-xs font-mono uppercase text-white rounded;
}

hr {
  @apply h-px bg-gray-300 my-8;
}

@screen sm {
  .markdown  {
    blockquote {
      @apply mx-10;
    }

    thead, tbody {
      @apply block min-w-full;
    }
  }
}

@screen lg {
  .markdown {
    table {
      @apply w-full;
    }
  }
}
